<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/quartz.css') }}" />
    <title>Edit User</title>
</head>

<body>
    <h1 class="text-center mb-5">Edit User</h1>
    <!-- # the action of the form is the route that processes the form -->
    <form action="/users/update/{{user.id}}" method="post">  
        <div class="mb-3 w-50 mx-auto">
            <input type="hidden" name="user_id" value="{{ user.id }}">
            <label for="fname" class="form-label">First Name</label>
            <input type="text" class="form-control" id="Input1" value="{{user.first_name}}" name="first_name" />
            <label for="lname" class="form-label">Last Name</label>
            <input type="text" class="form-control" value="{{user.last_name}}" name="last_name" />
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" value="{{user.email}}" name="email" />
            <div class="d-flex container justify-content-between">
                <input type="submit" class="btn btn-success mt-3" value="Update User" />
    </form>
    <form action="/ <int:user_id>/delete/{{user.id}}" method="post">
        <input type="submit" class="btn btn-danger mt-3" value="Delete User">
    </form>
    </div>
    </div>
    <div class="d-flex justify-content-center">
        <form action="/users">
            <input type="submit" class="btn btn-primary" value="See All Users" />
        </form>
    </div>

</html>